
*, *:before, *:after {box-sizing: border-box;overflow:scroll;overflow-x:hidden;-ms-overflow-style:none;scrollbar-width:none;overflow:-moz-scrollbars-none;}
::-webkit-scrollbar {display: none;}
::-moz-focus-inner {border:0;}
@media screen and (max-width: 435px){
	body,html {background: #001a1b;font: 14px/20px "Lato", Arial, sans-serif;padding: 40px 0;color: white; position:fixed;top:0;width: 100%;height: 100%;bottom:0;}
    input:focus,select:focus,textarea:focus,button:focus,li,a {outline:none;}
	#loginForm{
		margin-top: 50%;
	}
	#loginForm form,.form_title{
		width:100%;
		margin:30px auto;
		text-align: center !important;
	}
	#loginForm form button{
		background-color:#434651 !important;
	}
	.form_title{
		font-size: 2.5em;
	}
}
@media only screen and (min-width: 436px) and (max-width: 800px){
	body,html {background: #001a1b;font: 14px/20px "Lato", Arial, sans-serif;padding: 40px 0;color: white; position:fixed;top:0;width: 100%;height: 100%;bottom:0;}
    input:focus,select:focus,textarea:focus,button:focus,li,a {outline:none;}
	#loginForm{
		margin-top: 30%;
	}
	#loginForm form,.form_title{
		width:100%;
		margin:30px auto;
		text-align: center !important;
	}
	#loginForm form button{
		background-color:#434651 !important;
	}
	.form_title{
		font-size: 2.5em;
	}
}
@media only screen and (min-width: 801px) and (max-width: 1000px){
	body,html {background: #001a1b;font: 14px/20px "Lato", Arial, sans-serif;padding: 40px 0;color: white; position:fixed;top:0;width: 100%;height: 100%;bottom:0;}
    input:focus,select:focus,textarea:focus,button:focus,li,a {outline:none;}
	#loginForm{
		margin-top: 50%;
		
	}
	#loginForm form,.form_title{
		width:100%;
		margin:30px auto;
		border:1px solid blue;
		text-align: center !important;
	}
	#loginForm form input{

		padding: 30px;
		text-align: center !important;
	}
	#loginForm form button{
		background-color:#434651 !important;
	}
	.form_title{
		font-size: 3em;
	}
}
@media only screen and (min-width: 1001px) and (max-width: 1150px){
	body,html {background: #001a1b;font: 14px/20px "Lato", Arial, sans-serif;padding: 40px 0;color: white; position:fixed;top:0;width: 100%;height: 100%;bottom:0;}
    input:focus,select:focus,textarea:focus,button:focus,li,a {outline:none;}
	#loginForm{
		margin-top: 50%;
	}
	#loginForm form,.form_title{
		width:60%;
		margin:30px auto;
		text-align: center !important;
	}
	#loginForm form button{
		background-color:#434651 !important;
	}
	.form_title{
		font-size: 2.5em;
	}
}
@media screen and (min-width: 1151px){
	body,html {background: #001a1b;font: 14px/20px "Lato", Arial, sans-serif;padding: 40px 0;color: white; position:fixed;top:0;width: 100%;height: 100%;bottom:0;}
    input:focus,select:focus,textarea:focus,button:focus,li,a {outline:none;}
	#loginForm{
		margin-top: 30%;
	}
	#loginForm form,.form_title{
		width:60%;
		margin:30px auto;
		text-align: center !important;
	}
	#loginForm form button{
		background-color:#434651 !important;
	}
	.form_title{
		font-size: 2.5em;
	}
}
@media only screen and (min-width: 1151px) and (max-width: 999999999999px){
	body,html {background:  #001a1b;font: 14px/20px "Lato", Arial, sans-serif;padding: 40px 0;color: white; position:fixed;top:0;width: 100%;height: 100%;bottom:0;}
    input:focus,select:focus,textarea:focus,button:focus,li,a {outline:none;}
	#loginForm{
		background-color:transparent;
		margin-top: 10%;
	}
	#loginForm form,.form_title{
		width:40%;
		margin:30px auto;
		text-align: center !important;
	}
	#loginForm form button{
		background-color:#434651 !important;
	}
	.form_title{
		font-size: 2.5em;
	}
}