@import "https://fonts.googleapis.com/css?family=Great+Vibes|Lily+Script+One|Marck+Script|Montserrat|Merienda+One&display=swap";
/*smart phone small and medium devices*/
@media screen and (max-width: 435px){
    .people-list {
        width: 80%;
        position: fixed;
        left: 0;
        height:100%;
        display: none;
        z-index: 2;
        background-color: #434651;
        padding: 10px;
    }
    .chat {
        width: 100%;
        position: fixed;right:0;left:0;
        background: red;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #434651;
        height: 100%;
    }
}

/*smart phone landscape and ipad land scape*/
@media only screen and (min-width: 436px) and (max-width: 800px){
    .people-list {
        width: 80%;
        position: fixed;
        left: 0;
        height:100%;
        display: none;
        z-index: 2;
        background-color: #434651;
        padding: 10px;
    }
    .chat .chat-header {
        padding: 10px;
        border-bottom: 1px solid white;
        position:absolute;height:20%;width:100%;
        z-index:2px;background-color: #f0f2f5;
        right: 0;
      }
      .chat .chat-history {
        padding: 30px 30px 30px;
        border-bottom: 2px solid white;
        overflow-y: scroll;
        position:absolute;top:15%;
        height:85%;width:100%;background-color: #ddd;
      }
      .chat .chat-message {
        position: absolute;
        bottom: 0px; width:100%;  height: 15%;
        background-color: #f5f0f5;
      }
      
    .chat {
        width: 100%;
        position: fixed;right:0;left:0;
        background: red;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #434651;
        height: 100%;
    }
}

/*work in a width of 850 px customed */
@media only screen and (min-width: 801px) and (max-width: 1000px){}

/*work for ipad min and kindle fire*/
@media only screen and (min-width: 1001px) and (max-width: 1150px){}

/*large screen style sheet*/
@media screen and (min-width: 1151px){}

/*desktop style sheet*/
@media only screen and (min-width: 1151px) and (max-width: 999999999999px){
    .people-list {
        width: 20%;
        position: fixed;
        left: 0;
        height:100%;
        display: block;
        z-index: 2;
        background-color: #434651;
        padding: 10px;
    }
    .chat {
        width: 80%;
        position: fixed;right:0;
        background: #F2F5F8;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #434651;
        height: 100%;
    }
}